<div id="leaderboard-page">
    <div class="title-container">
        <h1 id="leaderboard-title">Leaderboard</h1>
    </div>
    <div class="top-3">
        <div id="second">
        </div>
        <div id="first">
        </div>
        <div id="third">
        </div>
    </div>
    <div class="board">
        <table class="table custom-table">
            <thead >
                <tr>
                    <th id="rank">Rank</th>
                    <th>Players</th>
                    <th id="rate-col">Winning Rate</th>
                    <th id="win-col">Win</th>
                    <th id="lose-col">Lose</th>
                    <th id="score-col">Score</th>
                </tr>
            </thead>
        </table>
    </div>
</div>