/* * {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
} */
/* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(50vw);
    } 
    60% {
        transform: translateX(-20vh);
    }
} */


:root{
    --background-color: #110133ea;
    --background-color2: #11131F;
    --text-color:#ffffff;
    --text-color2:#ffffff;
    --image: url('/images/darkmode.png');
}
[data-theme="light"]{
    --background-color: #CCC2DC;
    --background-color2: #ffffff;
    --text-color:#000000;
    --text-color2:#374557;
    --image: url('/images/lightmode.png');
}





body{
    background-color: transparent;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow-y: auto;
}



.column {
    /* padding: 20px; */
    background-color: #2d78c3;
    border: 1px solid #dee2e6;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}
.left-side{
    background:linear-gradient(120deg, #F338F7 0%, #5B54FA 52%);
    position: relative;
    padding: 0;
    overflow-y: auto;
}

#logo{
    position: absolute;
    width: 240px;
    height: 80px;
}

#pong {
    /* margin-bottom: 20px; */
    width: 100%;
    height: 35vh;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

#login-title{
    font-family: 'Jersey 15', sans-serif;
    font-size: 128px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-40%, -70%);
    z-index: 1;


}

/* .pong-ball{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #9e1d1d;
    border-radius: 50%;
    top:80%;
    left: 40%;
    transform: translate(70%, 90%);
    animation: bounce 1s infinite alternate;
} */

/*--------------------------right side css*----------------------------*/


.right-side{
    background-color:var(--background-color);;
    position: relative;
    overflow-y: auto;
}

#main-div{
    width: 90%;
    height: 90vh;
    background: var(--background-color2);
    position: relative;
    top: 5%;
    left:5%;
    overflow-y: auto;
    border-radius: 2%;
}
#subject{
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    color: var(--text-color2) ;
    padding-top: 15vh;
    padding-left: 40%;
    justify-content: center;
    align-items: center;

}
#subject::after{
    content: '';
    display:flex;
    margin-top: 5px;
    width: 170px;
    height: 5px;
    background: linear-gradient(90deg, #F338F7 0%, #5B54FA 100%);

}
.login-input{
    padding-left: 22%;
    padding-top: 2%;
    color: var(--text-color);
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.form-control{
    width:25vw;
    background-color: transparent;
    border-radius: 28px;
    height: 55px;
}
.form-control::placeholder{
    color: #938F99;
    font-size: 15px;
}
.input-container {
    position: absolute;
}


.icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #888;
}
.form-check{
    padding-left: 12vw;
    padding-top: 20px;
    color: #ffffff;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.log-button{
    margin-left:22%;
    width: 25vw;
    height: 55px;
    border-radius: 28px;
    border-color: transparent;
    border-width: 1px;
    color: #ffffff;
    background-color: #5356FB;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.form-check-label{
    color: var(--text-color2);
}
#or-line{
    padding-top: 1vh;
    font-size: 18px;
    color: #727272;
    position: relative;
    text-align: center;    
}

#log-42{
    background-color:#FAFAFA;
    color:#8A929C ;
}

#icon42{
    position: absolute;
    margin-left: 39%;
    margin-top: 1%;
    width: auto;
    height: 2vh;
}
p{
    color:#9C9EAA;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    text-align: center;
}
#signup-link{
    padding-left: 8px;
    color:var(--text-color);
    cursor: pointer;
}
#signup-link:hover{
    color:#F338F7;
}
#mode-btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 6%;
    margin-left: 96%;
    border: 0.1px  #857b7b;
    border-style:groove;
    border-radius: 3px;
    background-color: transparent;
    background-image: var(--image);
    background-size: cover;
}


/*--------------------------small to medium screen css*-----------------*/

@media (max-width: 1400px) {
    #login-title {
        font-size: 80px;
    }
    .login-input{
        padding-left: 20%;
        font-size: 15px;
    }
    .form-control{
        width: 250px;
    }
    .form-check{
        margin-left: 50px;
        font-size: 12px;
    }
    .log-button{
        font-size: 14px;
        width: 250px;
    }
    #or-line{
        padding-top: 1vh;
        font-size: 15px;
    }
    #icon42{
        margin-left: 32%;
        height: 25px;
        display: none;
    }
}
